
<div id="social" style="display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;">
<p>Login</p>
  <input id="input" style="margin-bottom: 10px;
  border-radius: 10px; color: blue;" type="text" pInputText [(ngModel)]="name" placeholder="Name"/>
  <input id="input" style="margin-bottom: 10px; border-radius: 10px;overflow: hidden;" type="password" pInputText [(ngModel)]="password"    placeholder="Password"/>
  <button pButton type="button" style="color: rgb(250, 244, 244);" label="Acessar" (click)="handleClick()" ></button>

</div>



