#social {
  background-color: rgba(247, 239, 224, 0.39);
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px 30px;
  margin-top: 90px;
  border-radius: 10px;
  text-align: center;
}



